html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color:rgb(241, 241, 241);
}
.container-fluid{
	background-color:#0879c9;
	height:67px;
}
nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-top:14px;
}
.imgbig{
	width:75%;
	float:left;
	border:1px solid rgb(221, 221, 221);
}
.imgsmall{
	width:25%;
	float:left;
	height:auto;
	padding-bottom:10px;
}
.imgsmall1{
	width:100%;
	float:left;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
}
.imgsmall2{
	width:100%;
	float:left;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
}

.imgsmall3{
	width:100%;
	float:left;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
}
.danhmuctitle{
	padding-top:1px;
	padding-bottom:20px;
	
}
h3{
	color:rgb(51, 51, 51);
	
}
span{
	color:rgb(153, 153, 153);
}
h2{
	padding-top:0;
	margin-top:0;
}
.info-tint{
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	
}
.item-qc{
	 float:left;padding-top:10px;padding-bottom:10px;border-bottom:1px solid #DDD;
}
.item-qc:last-child{
	border-bottom:none;
	padding-bottom:0;
}
button span{
	color:white;
}
.timkiem{
  position:relative;
  height:35px;
}
.corner{
  position:absolute;
  top:0;
  left:0;
  border-radius:100px 0 0 100px;
  border-right:none;
  border:0;
  width:170px;
  height:35px;
  padding:5px;
  padding-left:15px;
  border-right:1px solid #c2cfd6;
}
.corner1{
	position:absolute;
	top:0;
  left:170px;
  border:0;
  width:150px;
  height:35px;
  padding:5px;
  padding-left:15px;
  border-right:1px solid #c2cfd6;
}
.nhaptim{
  position:absolute;
  top:0;
  left:320px;
  padding: 5px;
  padding-left:15px;
  width:320px;
   border:0;
   height:35px;
   border-right:1px solid #c2cfd6;
}
.nhantim{
  position:absolute;
  left:640px;
  width:60px;
  height:35px;
  padding: 5px;
  border-radius:0 100px 100px 0;
  background-color:#fff;
  border:0;
  color:#555;
}
.nhantim span {
	color:#555;
}
.btn1{
	padding:5px 10px;
	background:none;
	color:white;
}
.btndn{
	border:1px solid #ccc;
}
.btn1:hover{
	background-color:white;
	color:#0879c9;
	border:1px solid #0879c9;
}
.form-horizontal .control-label{
	text-align:left;
}
.tinquangcao h4{
	padding:0;
	margin:0;
}
.ad-img{
	width:40%;
	float:left;
}
.ad-tin{
	width:58%;
	float:left;
	padding-left:2%;
}
.dropdown{
	
}
.myprofile span{
	color:white;
}
.dropdown-menu li{
	padding:8px 12px;
}
.dropdown-menu li:hover{
	background-color:none;
}
.dropdown-menu ul{
	list-style-type:none;
	padding:0;
	margin:0;
	border-bottom:1px solid #dfdfdf;
	
}
.dropdown-menu ul:last-child{
	border-bottom:none;
	
}
.dropdown-menu  ul a{
	text-decoration:none;
	color:#555;
}
.dropdown-menu  ul li span{
	color:#555;
	margin-top:5px;
}
.nav-profile ul{
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#f4f4f4;
}
.nav-profile ul li{
	float:left;
	padding:12px 12px;
}
.nav-profile ul li a{
	text-decoration:none;
	color:#555;
}
.nav-profile ul li:hover{
	background-color:#f4f4f4;
	
}
.background-profile{
	background-color:white;
	padding-top:15px;
	padding-bottom:15px;
}
.active-pro{
	border-bottom:1px solid #0879c9;
}
.nav-profile:after{
    clear: both;
    content: ".";
    display: block;
    width: 0px;
    height: 0px;
}
.searchimg{
	width:15px;
	height:15px;
}