body{
	font-family:Arial,sans-serif;
}
header{
	background-color:#428BCA;
	width:100%;
	height:60px;
	
}
header .col-md-2{
	background-color:rgba(0,0,0,0.03);
	height:60px;
	
	border-right:1px solid rgba(255,255,255,0.14);
}
header .col-md-10{
	height:60px;
}
.col-md-2{
	margin:0;
	padding:0;
	border-right: 1px solid #e7e7e7;
	
}
.profile-name h4{
	font-size:16px;
}
.logo{
	margin-top:5px;
}
.profile{
	padding-bottom:10px;
}
.profile:after{
    clear: both;
    content: ".";
    display: block;
    width: 0px;
    height: 0px;
}
.img-profile{
	margin-top:15px;
	margin-left:15px;
	float:left;
}
.img-thumbnail{
	border-radius:50%;
}
.profile-name{
	float:left;
	margin-top:12px;
	margin-left:10px;
}
h4{
	font-size:16px;
	padding-bottom:0;
	margin-bottom:0;
}
.navigation .fa{
	font-size:15px;
	width:16px;
}
.navigation ul{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
.navigation ul li{
	font-size:14px;
	font-weight:500;
	border-top:1px solid #e7e7e7;
	padding:10px 16px;
}
.navigation ul li span{
	margin-right:8px;
	font-size:12px;
	color: rgb(66, 139, 202);
}
.children-nav ul  li{
	border:none;
	padding:0;
	padding:5px 0;
	padding-left:40px;
}
.children-nav a{
	color:#444;
}
.ahere{
	background-color:#428bca;
	color:white;
}
a:hover{
	text-decoration:none;
	
}
.navigation{
	color: #555;
}
.children-nav li:first-child{
	border-top:1px solid #e7e7e7;
}
.navigation li.ahere > span{
	color:white;
}
li:focus{
	text-decoration:none;
	color: #555;
	background-color: #f7f7f7;
	outline:0;
}
li:hover:not(.ahere){
	color: #555;
	background-color: #f7f7f7;
}
.lastli{
	border-bottom:1px solid #e7e7e7;
}
.here-icon{
	background-color:#4e5154;
	width:50px;
	height:50px;
	float:left;
	text-align:center;
	padding-top:7px;
	border-radius:3px;
	margin-right:10px;
}
.here-text h4{
	font-weight:500;
	line-height:normal;
	font-size:28px;
}
.here-icon .fa{
	font-size:32px;
	color:white;
}

.panel{
	width:100%;
	height:auto;
	padding:20px 20px;
	background-color: #5cb85c;
	
}

.panel:after{
    clear: both;
    content: ".";
    display: block;
    width: 0px;
    height: 0px;
}
.panel-icon{
	width:60px;
	height:60px;
	float:left;
	background: rgba(255,255,255,0.9);
	text-align:center;
	padding-top:10px;
	border-radius:3px;
	margin-right:15px;
}
.panel-icon .fa-users{
	font-size:36px;
	color:black;
}
.panel-icon .fa-dollar{
	font-size:36px;
	color:black;
}
.panel-icon .fa-pencil{
	font-size:36px;
	color:black;
}
.body-panel{
	color:white;
}
.bottom-panel{
	color:white;
}
.panel  h1,h5,h4{
	margin:0;
	padding:0;
	margin-bottom:3px;
}

.left-bottom{
	float:left;
	
}
.right-bottom{
	float:right;
}
.col-md-1{
	background-color:red;
}
.tintuc{
	
	
}
.tintuc h4{
	margin:0;
	padding:0;
}
.herehere{
	background-color: #e4e7ea;;
}
.children-nav ul li{
	font-size:13px;
}
.navigation a{
	color:#555;
}
.btn-file {
    position: relative;
    overflow: hidden;
	
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
table tr{
	width:50%;
}
.tdInput{

}
.tdLabel{
	display:none;
}
.textarea1{
	width:100%;
}
