	body{
	font-family: 'Roboto', sans-serif;
	background-color:rgb(247, 247, 247);
}
nav{
	
	
}
.container-fluid{
	background-color:white;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
}
nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-top:14px;
}
nav ul li{
	float:right;
	
}
nav ul li a{
}
.btndangtin{
	padding:6px 12px;
	background-color:#337ab7;
	color:white;
}
.danhmuc{
	width:100%;
	height:auto;
}
.imgbig{
	width:75%;
	float:left;
	border:1px solid rgb(221, 221, 221);
}
.imgsmall{
	width:25%;
	float:left;
	height:auto;
	padding-bottom:10px;
}
.imgsmall1{
	width:100%;
	float:left;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
}
.imgsmall2{
	width:100%;
	float:left;
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
}

.imgsmall3{
	width:100%;
	float:left;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
}
.danhmuctitle{
	padding-top:1px;
	padding-bottom:20px;
	
}
h3{
	color:rgb(51, 51, 51);
	
}
span{
	color:rgb(153, 153, 153);

	
}
.inputtext{
	font-size:16px;
	color:#767676;
	border:0;
	margin:0;
	padding: 10px 0 9px 8px;
	
}
.form-control{
	display:inline;
	border-radius: 0;
	height:40px;
	border: none;	
	
}
.btn-primary{
	height:40px;
	width:100%;
}
.carousel-inner{
	background-color:white;
}
.carousel-indicators{
	bottom:0;
}
.a{
	
	
}
h2{
	padding-top:0;
	margin-top:0;
}
table td{
	border: solid 1px #CCC;
	color:rgb(85, 85, 85);
	font-weight:bold;
}
.input-group{
	margin:0;
	padding:0;	
	line-height:normal;
}
#custom-search-input{
    
	border-left:0;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
	font-size:14px;	
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: rgb(51, 122, 183);
    box-shadow: none;
    border-radius: 2px;
	margin-right:2px;
    border-left: solid 1px #ccc;
	
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
}
.content-left{
	
}
.item-class:after{
	clear: both;
    display: block;
    content: ".";
	width: 0px;
    height: 0px;
}
.item-img{
	width:240px;
	float:left;
	padding-right:15px;
}
.item-info{
	width:100%;
}
.item-class{
	width:100%;
	height:auto;
	border-bottom:1px solid #DDD;
	padding-bottom:10px;
}
